*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-header{
    align-content: center;
}

.fetch {
    margin: 200px;
    max-width: 80vw;
    text-align: center;
    align-content: center;
}